@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;700;900&family=Big+Shoulders+Display:wght@100;400;800;900&family=Bitter:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,600;1,500&display=swap');

    :root{
        font-size: 16px;

        --clr-bcg:#222;
        --clr-font:#111;
        --clr-cont:#f5f5f5;
        --clr-acc:rgba(34, 112, 5, 0.6);
        --clr-acc-hov:#014a19;
        
        --font1:'Anybody', cursive;
        --font2:'Bitter', serif;
        --font3:'Playfair Display', serif;
        --font4:'Big Shoulders Display', cursive;

        --footer-hg:6rem;
    }

    *,
    *::before,
    *::after{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }

body{
    background-color: var(--clr-bcg);
    font-family: var(--font1);
}
.container{
    display: flex;
    margin: 0 auto 0 auto;
    max-width: 90%;
    min-height: calc(100vh - var(--footer-hg));
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px blue solid;
    height: 18rem;
    width: 28rem;
    padding: 10rem;
    background-color: var(--clr-cont);
    border-radius: .6rem;
    gap:2rem;
    position: relative;
    font-family: var(--font1);
}
.stopwatch::before{
    content:"";
    position: absolute;
    height: inherit;
    width: inherit;
    padding: inherit;
    border-radius: inherit;
    background-color: #00000099;
    top:0;
    left: 1rem;
    top:1rem;
    z-index: -1;
}
.stopwatch label{
    font-size: 6rem ;
    letter-spacing: .3rem;
}

.btn-wrapper {
    display: flex;
    gap: 1rem;
    position:relative;
    min-width: fit-content;
    padding: 0.1rem;
    
}
.btn-wrapper .btn{
    color:var(--clr-cont);
    background-color: var(--clr-acc);
    height: 2.5rem;
    width: 4.5rem;
    padding: 0.6rem;
    padding-top: 0.8rem;
    border-radius: 0.2rem;
    position: relative;
    z-index: 0;
    text-align: center;
    box-shadow: .12rem .12rem rgba(0, 0, 0, 0.8) ;
    cursor: pointer;
    transition: transform 400ms ease,
                background-color 600ms ease-out;
}
.btn:hover{
    transform: scale(.97);
    background-color: var(--clr-acc-hov);
}



footer{
    height:var(--footer-hg);
    /* border: 1px solid pink; */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff66;
}
.footer-text{
    opacity:0.5;
}

.footer-link{
    padding-left: .2rem;
    opacity:0.5;
}
.footer-link:hover{
    opacity:1;
}

.footer-text-div{
    display: flex;
}
